@import '../../variables';

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    color: $text;
    
    &:nth-child(1) {
      margin-right: 8px;
      font-size: 20px;
    }
    
    &:nth-child(3) {
      margin-left: 8px;
      font-size: 18px;
    }
  }

  .theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;

    input {
      display: none;
    }

    .slider {
      position: absolute;
      background: #ccc;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      cursor: pointer;
      transition: $btn-hover;

      &::before {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 4px;
        height: 16px;
        width: 16px;
        background-color: $text;
        transition: $btn-hover;
      }
    }

    input:checked + .slider {
      background-color: $darkblue;
    }

    input:checked + .slider::before {
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }
  }
}