@import '../../variables';

.homepage-wrapper {
  position: relative;
  width: 80%;
  margin: 3rem auto;

  .homepage-img {
    position: absolute;
    z-index: -2;
  }

  .homepage-body {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    grid-template-areas: 
      'main-header main-header'
      'body-text body-text'
      'body-signup body-donation'
      'body-review body-donation'
    ;
    font-family: $link-font;

    .homepage-header-wrapper,
    .homepage-text,
    .homepage-signup,
    .homepage-donation-wrapper {
      padding: 2rem;
      margin-bottom: 1rem;
      border-radius: 10px;
    }

    .homepage-header-wrapper {
      grid-area: main-header;

      .swept-header {
        font-family: $logo-font;
        font-style: italic;
        letter-spacing: .5px;
      }
      
      .homepage-header {
        font-size: 4em;

        span {
          position: relative;

          &::after {
            position: absolute;
            content: '';
            left: -2px;
            right: 0;
            bottom: 15px;
            height: 4px;
            background: $text;
            transform: skew(-45deg);
          }
        }
      }
      
      .homepage-subheader {
        margin-top: 2rem;
        font-size: 2em;
      }
    }

    .homepage-text {
      grid-area: body-text;
      font-size: 1.5rem;
      letter-spacing: .2px;

      div {
        margin-bottom: 1.5rem;
      }
    }

    .homepage-signup {
      position: relative;
      grid-area: body-signup;
      height: fit-content;
      padding-bottom: 5rem;
      font-size: 1.5rem;
      letter-spacing: .2px;

      .get-started-btn {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }
    }

    .homepage-donation-wrapper {
      grid-area: body-donation;
      font-size: 1.5rem;

      .donate-btn {
        margin: 1rem 0;
        color: $text;
        text-align: center;
      }
    }
  }
}