@import '../../variables';

.homepage-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;

  .homepage-img {
    position: absolute;
    z-index: -2;
  }

  .homepage-body {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
      'main-header main-header'
      'body-text body-text'
      'body-review body-review'
      'body-signup body-donation'
    ;

    .homepage-header-wrapper {
      grid-area: main-header;
      background: red;
    }

    .homepage-text {
      grid-area: body-text;
      background: blue;
    }

    .homepage-signup {
      grid-area: body-signup;
      background: orange;
    }

    .homepage-donation-wrapper {
      grid-area: body-donation;
      background: green;
    }
  }
}