@import '../../variables';

.login-btn {
  background: $primary-darkorange;
  padding: 5px 10px;
  border-radius: 10px;
  transition: $btn-hover;
  letter-spacing: initial;
  cursor: pointer;

  &:hover {
    background: $primary-dark-hover;
  }
}