@import "../../variables";

.profile-wrapper {
  width: 80%;
  height: calc(100vh - 100px);
  padding-top: 5rem;
  margin: 0 auto;

  .profile-inner-wrapper {
    display: grid;
    column-gap: 1rem;
    grid-template-areas:
      "profileInfo profileSavedList"
      "profileSave profileSavedList"
      "profileOptions profileSavedList";
    padding: 1rem;
    border-radius: 10px;
    background: $darkblue;

    .profile-user-info {
      grid-area: profileInfo;
      display: flex;
      flex-direction: column;

      .profile-header {
        background: $darkerblue;
        padding: 1rem;
        border-radius: 10px;
        font-family: $logo-font;
        font-size: 24px;
        font-style: italic;

        span {
          position: relative;
          white-space: nowrap;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5px;
            height: 3px;
            background: $text;
            transform: skew(-45deg);
            transition: $btn-hover;
          }
        }
      }

      .profile-email {
        background: $darkerblue;
        margin: 0.8rem 0;
        padding: 1rem;
        border-radius: 10px;
        font-family: $link-font;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .profile-save-info {
      grid-area: profileSave;
      background: $darkerblue;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;
      font-family: $link-font;
      font-size: 18px;

      p {
        position: relative;
        display: flex;
        align-items: center;

        &:nth-child(2) {
          margin-top: 14px;
        }
        span {
          position: absolute;
          right: 0;
          background: $primary-darkorange;
          margin-left: 5px;
          padding: 2px 12px;
          border-radius: 10px;
          font-size: 20px;
          transition: $btn-hover;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .profile-options {
      grid-area: profileOptions;
      background: $darkerblue;
      padding: 1rem;
      border-radius: 10px;

      .profile-change-password {
        font-family: $link-font;
        font-size: 18px;
        transition: $btn-hover;
        cursor: pointer;

        i {
          color: $text;
          margin-right: 8px;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .profile-switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;

        i {
          color: $text;

          &:nth-child(1) {
            margin-right: 8px;
            font-size: 20px;
          }

          &:nth-child(3) {
            margin-left: 8px;
            font-size: 18px;
          }
        }

        .theme-switch {
          display: inline-block;
          height: 24px;
          position: relative;
          width: 50px;

          input {
            display: none;
          }

          .slider {
            position: absolute;
            background: #ccc;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            cursor: pointer;
            transition: $btn-hover;

            &::before {
              content: "";
              position: absolute;
              bottom: 4px;
              left: 4px;
              height: 16px;
              width: 16px;
              background-color: $text;
              transition: $btn-hover;
            }
          }

          input:checked + .slider {
            background-color: $darkblue;
          }

          input:checked + .slider::before {
            transform: translateX(26px);
          }

          .slider.round {
            border-radius: 34px;

            &::before {
              border-radius: 50%;
            }
          }
        }
      }
    }

    .saved-wrapper {
      grid-area: profileSavedList;

      .slider-wrapper {
        position: relative;
        height: 40px;
        width: 300px;
        margin: 0 auto;
        background: $darkblue-layer;
        border-radius: 20px;
        z-index: 0;
        scroll-behavior: smooth;

        label {
          cursor: pointer;
          div {
            position: absolute;
            top: 0;
            bottom: 0;
            background: $primary-darkorange;
            border-radius: 20px;
            transition: $btn-hover;
          }

          .switch-overlay-left {
            left: 0;
            right: 45%;
          }

          .switch-overlay-right {
            right: 0;
            left: 55%;
          }

          h2 {
            font-family: $link-font;
            font-weight: 600;
            font-size: 24px;
            bottom: 0;
            transition: $btn-hover;

            i {
              margin-right: 8px;
            }

            &:hover {
              transform: scale(1.1);
              opacity: 0.9;
            }

            &:nth-child(2) {
              position: absolute;
              left: 25px;
              z-index: 10;
            }

            &:nth-child(3) {
              position: absolute;
              right: 23px;
              z-index: 10;
            }
          }

          input {
            width: 0;
            height: 0;
          }
        }
      }

      .saved-component-wrapper {
        margin-top: 2rem;
      }
    }
  }
}
