@import "../../variables";

@media all and (max-width: 768px) {
  .sweeper-wrapper {
    min-height: calc(100vh - 101px);
    height: 100%;
    padding-bottom: 3rem;

    .grid-wrapper {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'form'
        'result'
        'map';
    }

    section {
      width: 100%;
      
      &.sweeper-form-wrapper {
        .zip-form-wrapper {
          form {
            width: 100%;
          }
        }

        .outer-map-container {
          width: 100%;
        }
      }

      &.sweeper-data-output-wrapper {
        padding: 0 0 1rem;
      }
    }
  }
}

@media all and (max-width: 735px) {
  .sweeper-wrapper {
    .sweeper-form-wrapper {
      margin-top: 3.5rem;
    }
  }
}
