@import "../../variables";

.sweeper-wrapper {
  position: relative;
  padding-top: 5rem;
  height: calc(100vh - 101px);
  width: 80%;
  margin: 0 auto;

  .sweeper-header-label {
    position: absolute;
    background: $darkblue;
    padding: 10px;
    border-radius: 10px;
    left: 0;
    right: 0;
    font-family: $logo-font;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
     'form result'
     'map result';
    column-gap: 2rem;

    section {
      margin-top: 5rem;
      width: 100%;

      &.sweeper-form-wrapper {
        grid-area: form;
        background: $darkblue;
        padding: 20px;
        margin-bottom: 1rem;
        border-radius: 10px;  

        .zip-form-wrapper {
          form {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 90%;

            input {
              border-radius: 10px;
              padding: 10px;
              width: 100%;
            }

            button {
              width: 100%;
              margin-top: 1rem;
              padding: 10px 0;
              background: $primary-darkorange;
              border-radius: 10px;
              font-family: $link-font;
              font-weight: 600;
              letter-spacing: 0.5px;
              transition: $btn-hover;

              &:hover {
                background: $primary-dark-hover;
                transform: scale(1.05);
              }
            }

            p {
              display: none;

              &.active {
                display: block;
                width: 100%;
                background: $darkblue-layer;
                border-radius: 10px;
                padding: 8px 10px;
                margin: 1rem 0 0;
                font-family: $link-font;
              }
            }
          }
        }
      }

      &.sweeper-data-output-wrapper {
        grid-area: result;

        .sweeper-data-output {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: calc(100% - 5px);
          background: $darkblue;
          padding: 15px 20px;
          border-radius: 10px;
          font-family: $link-font;
          font-size: 18px;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          .sweeper-info-wrapper {
            display: flex;

            .sweeper-search-date {
              margin-left: 8px;
              text-transform: capitalize;
              color: $text;
            }
          }

          button {
            font-weight: 600;
            font-size: 16px;
            transition: $btn-hover;

            &:hover {
              background: $primary-dark-hover;
              transform: scale(1.1);
            }

            i {
              margin-right: 8px;
            }
          }
        }
      }
    }

    .outer-map-container {
      grid-area: map;
      width: 100%;

      .map-container {
        // width: 90%;
        height: 300px;
        border-radius: 10px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: 0 0 10px #00293c;
        z-index: 0;
      }
    }
  }
}
