@import '../../variables';

@media all and (max-width: 768px) {
  .navbar-wrapper {
    .navbar-header {
      .nav-center {
        padding: 5px 10px;
      }

      .nav-right {
        position: absolute;
        flex-direction: column;
        top: 0;
        bottom: 0;
        right: -100%;
        background: $black;
        transition: $btn-hover;
        z-index: 10;

        &.active {
          right: 0;
        }

        a:nth-child(1) {
          padding-top: 101px;
        }
      }

      .hamburger {
        display: block;
        z-index: 20;

        &.active {
          .bar:nth-child(2) {
            width: 25px;
            opacity: 0;
          }

          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          
          .bar:nth-child(3) {
            width: 25px;
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}