@import "../../variables";

.navbar-wrapper {
  .deco {
    background: $blue-gradient;
    height: 20px;
    width: 100%;

    .deco-inner {
      width: 100%;
      height: 100%;
      background: $chi-blue;
      border-top: 3px solid $text;
      border-radius: 20px 20px 0 0;
    }
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $blue-gradient;
    padding: 0.3rem 3rem;

    nav {
      a {
        transition: $btn-hover;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .nav-left {
      a {
        position: relative;
        font-size: 48px;
        font-family: $logo-font;
        font-style: italic;
        letter-spacing: 2px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 11px;
          height: 4px;
          width: 0%;
          background: $text;
          transform: skew(-45deg);
          transition: $btn-hover;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .nav-center {
      position: relative;
      padding: 10px 0;
      width: 260px;
      background: $darkblue;
      border-radius: 20px;
      font-family: $link-font;
      font-size: 24px;

      label {
        div {
          position: absolute;
          top: 0;
          bottom: 0;
          background: $primary-darkorange;
          border-radius: 20px;
          transition: $btn-hover;
        }

        .switch-overlay-left {
          left: 0;
          right: 45%;
        }

        .switch-overlay-right {
          right: 0;
          left: 55%;
        }

        a:nth-child(2) {
          position: absolute;
          left: 25px;
          z-index: 10;
        }

        a:nth-child(3) {
          position: absolute;
          right: 25px;
          z-index: 10;
        }

        input {
          width: 0;
          height: 0;
        }
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      font-size: 24px;
      
      .login-btn {
        background: $primary-darkorange;
        padding: 5px 10px;
        border-radius: 10px;
        margin-left: calc(2rem - 10px);
        transition: $btn-hover;
        cursor: pointer;

        &:hover {
          background: $primary-dark-hover;
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}
