@import '../../variables';

.login-signup-wrapper {
  height: 90vh;
  
  .login-signup-inner {
    width: 40vw;
    margin: 8rem auto 0;
    padding: 2rem;
    border-radius: 10px;
    background: $blue-gradient;
  }
}