@import "../../variables";

.change-password-wrapper {
  height: calc(100vh - 200px);
  margin-top: 5rem;
  color: $text;

  .change-password-inner {
    position: relative;
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "pwdLabel pwdLabel pwdLabel"
      "one one two"
      "three three three";
    width: 40%;
    margin: 0 auto;

    label {
      grid-area: pwdLabel;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: $logo-font;
      font-size: 32px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    div {
      border-radius: 10px;
      padding: 10px 20px;

      &:nth-child(2) {
        grid-area: one;
        height: 250px;

        .update-password-form {
          display: flex;
          flex-direction: column;

          .form-label {
            padding: unset;
            width: fit-content;
            margin-bottom: 0.4rem;
            font-family: $logo-font;
            font-size: 24px;
            font-style: italic;
            font-weight: 600;
            letter-spacing: initial;
            
            span {
              position: relative;
              margin-left: 5px;
              white-space: nowrap;

              &::after {
                position: absolute;
                content: '';
                bottom: 4px;
                left: 0;
                right: 0;
                height: 2px;
                background: $text;
                transform: skew(-45deg);
              }
            }
          }

          .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;

            &:nth-child(2) {
              margin-bottom: 1rem;
            }

            i {
              position: absolute;
              right: 1rem;
              color: $darkerblue;
              cursor: pointer;
            }

            .update-password-input {
              width: 100%;
              border-radius: 10px;
              padding: 10px;
              color: $black !important;
              font-size: 18px;
            }
          }

          .update-password-submit-btn {
            background: $primary-darkorange;
            width: fit-content;
            padding: 5px 20px;
            margin-top: 1rem;
            border-radius: 10px;
            font-family: $link-font;
            font-size: 22px;
            font-weight: 600;
            transition: $btn-hover;

            &:hover {
              transform: scale(1.1);
              background: $primary-dark-hover;
            }

            i {
              margin-right: 8px;
            }
          }
        }
      }

      &:nth-child(3) {
        grid-area: two;
        height: 250px;
      }

      &:nth-child(4) {
        grid-area: three;
        display: flex;
        align-items: center;
        height: 60px;

        a {
          background: $primary-darkorange;
          padding: 5px 20px;
          border-radius: 10px;
          font-family: $link-font;
          font-weight: 600;
          font-size: 22px;
          transition: $btn-hover;

          &:hover {
            transform: scale(1.1);
            background: $primary-dark-hover;
          }

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
