@import '../../variables';

.recent-search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .confirm-delete-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $darkblue;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    transition: $btn-hover;
    z-index: 10;
    
    &.active {
      border: 1px solid $text;
      padding: 10px;
      height: 100%;
    }

    .confirm-btn-wrapper {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;
      width: 100%;

      button {
        padding: 8px 22px;
        transition: $btn-hover;

        &:nth-child(1):hover {
          opacity: 0.8;
        } 

        &:nth-child(2) {
          background: $primary-darkorange;
          border-radius: 10px;
  
          &:hover {
            background: $primary-dark-hover;
          }
        }
      }

    }
  }
  
  .recent-search-header {
    font-family: $link-font;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .5px;
    padding-bottom: .5rem;

    h1 {
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 3px;
        background: $text;
        transform: skew(-45deg);
        transition: $btn-hover;
      }
    }
  }

  .sweeper-data-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $darkblue;
    padding: 5px 10px;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: .5rem;
      padding-bottom: .5rem;
      // border-bottom: 1px solid $text;

      &::after {
        
      }
    }

    .save-btn {
      background: $primary-darkorange;
      padding: 5px 10px;
      height: fit-content;
      border-radius: 10px;
      font-family: $link-font;
      font-size: 20px;
      transition: $btn-hover;

      &:hover {
        background: $primary-dark-hover;
      }
    }
  }
}