@import "../../variables";

.recent-search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .search-list-wrapper {
    height: 250px;
    overflow-y: scroll;
  }

  .confirm-delete-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $darkblue;
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    transition: $btn-hover;
    z-index: 10;

    &.active {
      border: 1px solid $text;
      padding: 10px;
      height: 160px;
    }

    .confirm-btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: .5rem;
      padding: .5rem;
      width: 100%;
      background: $darkblue-layer;
      border-radius: 10px;

      button {
        padding: 8px 22px;
        transition: $btn-hover;

        &:nth-child(1):hover {
          transform: scale(1.1);
          opacity: 0.8;
        }

        &:nth-child(2) {
          background: $primary-darkorange;
          border-radius: 10px;

          &:hover {
            transform: scale(1.1);
            background: $primary-dark-hover;
          }
        }
      }
    }
  }

  .recent-search-header {
    font-family: $link-font;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;

    .recent-searches {
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 3px;
        background: $text;
        transform: skew(-45deg);
        transition: $btn-hover;
      }
    }
  }

  .sweeper-data-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5px);
    background: $darkblue-layer;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: $link-font;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }

    //FORMATTING FOR SWEEPER SAVE PAGE
    .saved-info {
      h2 {
        &:nth-child(1) {
          font-size: 20px;
        }

        &:nth-child(2) {
          text-transform: capitalize;
          font-size: 18px;
        }
      }
    }

    .snow-output-wrapper {
      display: flex;
      flex-direction: column;

      // FORMATTING FOR SNOW SAVE PAGE
      div {
        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 18px;
        }

        span {
          position: relative;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 7px;
            height: 1px;
            background: $text;
            transform: skew(-45deg);
          }
        }
      }
    }

    .save-btn {
      background: $primary-darkorange;
      padding: 5px 10px;
      height: fit-content;
      border-radius: 10px;
      font-family: $link-font;
      font-size: 20px;
      transition: $btn-hover;

      .delete-save {
        margin-top: 5px;
        transition: $btn-hover;
      }

      &:hover, :focus {
        transform: scale(1.1);
        background: $primary-dark-hover;

        .delete-save {
          opacity: 0.8;
        }
      }
    }
  }
}
