@import '../../variables';

.recent-search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .recent-search-header {
    font-family: $link-font;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .5px;

    h1 {
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        height: 3px;
        background: $text;
        transform: skew(-45deg);
        transition: $btn-hover;
      }
    }
  }
}